# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Also, ignore most C source file (testcases)
*.c

# WebAssembly outputs
*.wasm
*.wat
*.js
*.out
*.debug
*.trace
*.funcs
*.globs
*.orig
*.param
*.retfuncs
*.js
*.ll
*.out
*.dwarf
*.s
*.sh
*.tmp
*.json


.idea/

